* {
  box-sizing: border-box; /* Cambiado a border-box */
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  color: white;
  background-color: #000; /* Fondo negro */
}

.background {
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); /* Degradado rojo a negro */
  background-size: 20px 20px; /* Tamaño del patrón */
  z-index: 1; /* Mantener el degradado detrás del contenido */
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, rgba(255, 0, 0, 0.1) 1px, transparent 1px); /* Patrón de puntos */
  background-size: 20px 20px; /* Tamaño del patrón */
  z-index: 2; /* Mantener el patrón detrás del contenido */
  opacity: 0.2; /* Ajusta la transparencia del patrón */
}

.content {
  position: relative;
  z-index: 3; /* Texto encima de la superposición */
  text-align: center; /* Centrar texto si es necesario */
}
.futuristic-title {
  font-size: 2.5rem;
  color: #fff; /* Color del texto */
  position: relative;
}

.futuristic-title::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00ffcc; /* Color del borde */
  border-radius: 5px; /* Bordes redondeados */
  opacity: 0.5;
  animation: border-glow 1s infinite alternate; /* Animación de brillo */
}

@keyframes border-glow {
  from {
    box-shadow: 0 0 10px #00ffcc;
  }
  to {
    box-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc;
  }
}